[Desktop Entry]
Name=System Splash
Name[ca]=Pantalla de presentació del sistema
Name[nl]=Opstartscherm van systeem
Name[pl]=Ekran powitalny systemu
Name[uk]=Вітання системи
Name[x-test]=xxSystem Splashxx
Name[zh_TW]=系統啟動畫面
Comment=Plymouth splash screen
Comment[ca]=Pantalla de presentació del Plymouth
Comment[nl]=Plymouth opstartscherm
Comment[pl]=Ekran powitalny Plymouth
Comment[uk]=Вітальна сторінка Plymouth
Comment[x-test]=xxPlymouth splash screenxx
Comment[zh_TW]=Plymouth 啟動畫面
Icon=preferences-desktop-display
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_plymouth
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
