[Desktop Entry]
Name=System Splash
Name[nl]=Systeem-opstartscherm
Name[pt]=Ecrã Inicial do Sistema
Name[sv]=Systemstartskärm
Name[uk]=Вітання системи
Name[x-test]=xxSystem Splashxx
Comment=Plymouth splash screen
Comment[nl]=Opstartscherm van Plymouth
Comment[pt]=Ecrã inicial do Plymouth
Comment[sv]=Plymouth startskärm
Comment[uk]=Вітальна сторінка Plymouth
Comment[x-test]=xxPlymouth splash screenxx
Icon=preferences-desktop-display
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_plymouth
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
