[Desktop Entry]
Icon=preferences-desktop-display
Exec=kcmshell5 kcm_plymouth

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_plymouth
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=session
X-KDE-Weight=80

Name=System Splash
Name[nl]=Systeem-opstartscherm
Name[pt]=Ecrã Inicial do Sistema
Name[sv]=Systemstartskärm
Name[uk]=Вітання системи
Name[x-test]=xxSystem Splashxx
Comment=Plymouth splash screen
Comment[nl]=Opstartscherm van Plymouth
Comment[pt]=Ecrã inicial do Plymouth
Comment[sv]=Plymouth startskärm
Comment[uk]=Вітальна сторінка Plymouth
Comment[x-test]=xxPlymouth splash screenxx
X-KDE-Keywords=plymouth,splash,splash screen
X-KDE-Keywords[nl]=plymouth,opstartscherm,splash
X-KDE-Keywords[pt]=plymouth,inicial,ecrã inicial
X-KDE-Keywords[sv]=plymouth,start,startskärm
X-KDE-Keywords[uk]=plymouth,splash,splash screen,плімут,вітання,вітальна сторінка,вітальне вікно
X-KDE-Keywords[x-test]=xxplymouthxx,xxsplashxx,xxsplash screenxx
Categories=Qt;KDE;X-KDE-settings-plymouth;
