[Desktop Entry]
Icon=preferences-desktop-display
Exec=kcmshell5 kcm_plymouth

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_plymouth
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=session
X-KDE-Weight=80

Name=Boot Splash
Name[ca]=Pantalla de presentació d'inici
Name[ca@valencia]=Pantalla de presentació d'inici
Name[en_GB]=Boot Splash
Name[es]=Pantalla de arranque
Name[nl]=Opstartscherm
Name[pt]=Ecrã Inicial de Arranque
Name[sv]=Datorstartskärm
Name[uk]=Вітання системи
Name[x-test]=xxBoot Splashxx
Comment=Plymouth Splash Screen
Comment[ca]=Pantalla de presentació del Plymouth
Comment[ca@valencia]=Pantalla de presentació del Plymouth
Comment[en_GB]=Plymouth Splash Screen
Comment[es]=Pantalla de arranque de Plymouth
Comment[nl]=Opstartscherm van Plymouth
Comment[pt]=Ecrã Inicial do Plymouth
Comment[sv]=Plymouth startskärm
Comment[uk]=Вітальна сторінка Plymouth
Comment[x-test]=xxPlymouth Splash Screenxx
X-KDE-Keywords=plymouth,splash,splash screen
X-KDE-Keywords[ca]=plymouth,splash,pantalla de presentació
X-KDE-Keywords[ca@valencia]=plymouth,splash,pantalla de presentació
X-KDE-Keywords[en_GB]=plymouth,splash,splash screen
X-KDE-Keywords[es]=plymouth,pantalla de bienvenida,pantalla de arranque
X-KDE-Keywords[nl]=plymouth,opstartscherm,splash
X-KDE-Keywords[pl]=plymouth,ekran powitalny,powitalny
X-KDE-Keywords[pt]=plymouth,inicial,ecrã inicial
X-KDE-Keywords[sk]=plymouth,splash,úvodná obrazovka
X-KDE-Keywords[sv]=plymouth,start,startskärm
X-KDE-Keywords[uk]=plymouth,splash,splash screen,плімут,вітання,вітальна сторінка,вітальне вікно
X-KDE-Keywords[x-test]=xxplymouthxx,xxsplashxx,xxsplash screenxx
X-KDE-Keywords[zh_TW]=plymouth,splash,splash screen
Categories=Qt;KDE;X-KDE-settings-plymouth;
